<div class="navbar-section">
    <button class="button bd-tl-tr" aria-haspopup="true" [routerLink]="['/lists']" routerLinkActive="navbar-active">
        <p class="mr-2">Lists</p>
        <span>
            <i class="fa-regular fa-rectangle-list fa-lg"></i>
        </span>
    </button>
    <button class="button bd-tl-tr" aria-haspopup="true" [routerLink]="['/account']" routerLinkActive="navbar-active">
        <p class="mr-2">Account</p>
        <span>
            <i class="fa fa-user-circle fa-xl" aria-hidden="true"></i>
        </span>
    </button>
</div>
