@import "../../../main-styles.scss";

.task-manager {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: #ffffff;
  padding: 28px;
  border-radius: 8px 0 0 8px;
}

.tasks-list, .tasks-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0 8px 8px 0;
}

.tasks-list-container {
  padding: 28px;
}

.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
  .list-menu-item {
    display: flex;
    align-items: center;
    padding: 5px 15px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    &:hover {
      background-color: $light;
    }
    &.is-active {
      background-color: #cff8ef;
      color: $dark-green;
    }
  }
}

.task {
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 4px #eeeeee;
    }
  &:active {
    transform: scale(0.96);
  }
  &.complete {
    text-decoration: line-through;
    opacity: 80%;
  }
}

.tasks-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 535px;
  overflow: auto;
}

.add-task-button {
  align-self: center;
  width: 50%;
}

.empty-state-text {
  font-size: 20px;
  color: #777777;
  text-align: center;
}
