<div class="centered-content">
    <form class="form-modal w-100" onsubmit="return false">
        <div class="field is-grouped update-profile-form">
            <p class="control">
                Old Password
                <input #oldPassword class="input has-background-light is-medium" type="password" placeholder="Enter your old password...">
            </p>
            <p class="control">
                New Password
                <input #newPassword class="input has-background-light is-medium" type="password" placeholder="Enter your new password...">
            </p>
            <p class="control">
                Confirm Password
                <input class="input has-background-light is-medium" type="password" placeholder="Confirm your new password...">
            </p>
            <div *ngIf="errorMessage">
                <span *ngFor="let error of errorMessage" class="has-text-danger">{{ error }}. </span>
            </div>
            <p class="control">
                <button class="button is-primary is-medium has-text-white modal-button" (click)="onUpdate(oldPassword.value, newPassword.value)">Save</button>
            </p>
        </div>
    </form>
   
</div>