// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: #006666;
$light: #f8f8f8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $light-green;

// Update Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Custom global styles

html {
    background: linear-gradient(to right bottom, $turquoise, $green);
}

html, body {
    height: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dynamic-modal-body {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.modal-box {
    width: 100%;
    max-width: 540px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.form-modal {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.modal-button {
    margin: 0 5px;
}

.title {
    font-family: "Lato";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.w-100 {
    width: 100%;
}



.navbar-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
        color: #4a4a4a;
    }
    .navbar-active {
        border: 1.5px solid #000000;
        color: #000000;
    }
}

  
.bd-tl-tr {
    border-radius: 8px 8px 0 0;
}

.br-50 {
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: #ffffff;
    padding: 28px;
    border-radius: 8px 0 0 8px;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0 0 8px 0;
}


.nav-links {
    color: #4a4a4a;
}

.nav-items {
    border-radius: 4px;
    padding: 4px 6px 4px 10px;
}

.is-active::before {
    content: "";
    width: 4px;
    height: 32px;
    border-radius: 4px 0 0 4px;
    background-color: $green;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-items.is-active {
    background-color: #cfcfcf59;
    position: relative;
}

.is-active {
    color: #0c0c0c;
}


.account-view, .account-manager {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
}

.account-view {
    flex-direction: column;
}

.account-manager {
    flex-direction: row;
}

.update-profile-form {
    display: flex;
    flex-direction: column;
    .control {
        margin: 6px 0;
    }
    .errors {
        text-align: center;
    }
}